---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';

import BlogPostSummary from '../../components/BlogPostSummary.astro';
import BlogBackButton from '../../components/BlogBackButton.astro';

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");
	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
		filteredPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

import company from '../../data/company.json';
---
<BaseLayout title=`${tag} | ${company.name} Blog` description=`Posts tagged with ${tag}.`>
	<div class="wrapper">
		<h1>Posts tagged with '<span class="tag-title-text">{tag}</span>'</h1>
		<BlogBackButton href="/tags" label="View all tags" svgString=`<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m360-320-33 131q-3 13-13 21t-24 8q-19 0-31-15t-7-33l28-112H171q-20 0-32-15.5t-7-34.5q3-14 14-22t25-8h129l40-160H231q-20 0-32-15.5t-7-34.5q3-14 14-22t25-8h129l33-131q3-13 13-21t24-8q19 0 31 15t7 33l-28 112h160l33-131q3-13 13-21t24-8q19 0 31 15t7 33l-28 112h109q20 0 32 15.5t7 34.5q-3 14-14 22t-25 8H660l-40 160h109q20 0 32 15.5t7 34.5q-3 14-14 22t-25 8H600l-33 131q-3 13-13 21t-24 8q-19 0-31-15t-7-33l28-112H360Zm20-80h160l40-160H420l-40 160Z" fill="currentColor"/></svg>`/>
		<ul>
			{
				posts.map((post) => (
					<BlogPostSummary href={`/posts/${post.slug}`} title={post.data.title} summary={post.data.summary} date={post.data.pubDate} author={post.data.author} postText={post.body} />
					<div class="post-separator"></div>
				))
				}
			</ul>
	</div>
</BaseLayout>

<style lang="scss">
ul {
	margin: 0;
	padding: 0;
}
.post-separator {
	border-bottom: 1px solid var(--color-outline);
	margin-left: 16px;
	margin-right: 16px;
}

.tag-title-text {
	color: var(--color-primary);
}
</style>