---
import PageLayout from '../layouts/PageLayout.astro';

import company from '../data/company.json';
import social from '../data/social.json';
---

<PageLayout title='About' description=`Information about ${company.name}`>
	<Fragment slot="page-header">About</Fragment>
	<article slot="page-content">
		<p>{company.legalName} is an independent game and software development studio founded in Ohio, effective January 1, 2024.</p>

		<h2>Our Mission</h2>
		<p>We believe that games are people-driven and have the power to inspire and connect us in ways not possible in other mediums. That's why we are committed to crafting games that are not only fun and entertaining, but also thought-provoking and deeply impactful. We put all of our effort into creating unforgettable experiences for our players.</p>

		<h2>Our Values</h2>
		<p>At {company.name}, we are guided by the following core values:</p>
		<ul>
			<li><b>Quality</b>: <a href="https://www.ign.com/articles/did-miyamoto-really-say-a-delayed-game-is-eventually-good-but-a-rushed-game-is-forever-bad">A delayed game is eventually good, but a rushed game is forever bad</a>. We are committed to delivering high-quality games and releasing them when they are ready. We want to respect ourselves and our players.</li>
			<li><b>Community</b>: Our community is everything. We highly value the feedback and support of our players and are always looking for ways to engage more closely with them.</li>
			<li><b>Openness</b>: We believe it is critical to be open and transparent as much as possible. We also believe in the power of open source software and are committed to giving back to our community.</li>
		</ul>
		<p>We don't always get everything right, but we are committed to making good on our promises and making things right when we do get them wrong.</p>

		<h2>Our Team</h2>
		<p>{company.name} is currently a small but dedicated team, but we are actively seeking talented individuals to join us. If you are someone who shares our passion for creating immersive and meaningful experiences, don't hesitate to get in touch.</p>

		<h2>Get Involved</h2>
		<p>We invite you to join us on our journey! Check out our <a href="/blog">blog</a> and <a href={social.discordURL}>join Discord</a> to stay up-to-date on our latest projects, and <a href="/contact">contact us</a> if you are interested in getting involved.</p>
	</article>
</PageLayout>
