---
import ThemeToggle from '../ThemeToggle.astro';
import Separator from '../utility/Separator.astro'

import svgLogo from '../../assets/svg/logo.svg';

import company from '../../data/company.json';
import social from '../../data/social.json';
---
<footer>
	<div class="footer-container">
		<div class="social-icons">
			<a class="social-link" href=`${social.youtubeURL}` title="YouTube"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16 16" fill="none" aria-labelledby="a7b501z2oot1doa8eitwk4gtxjz4wsg8" class="octicon flex-shrink-0"><path d="M15.666 3.749a2.005 2.005 0 0 0-1.415-1.415C13.003 2 8 2 8 2s-5.003 0-6.251.334A2.005 2.005 0 0 0 .334 3.75C0 4.997 0 8.4 0 8.4s0 3.403.334 4.651c.184.688.727 1.23 1.415 1.415C2.997 14.8 8 14.8 8 14.8s5.003 0 6.251-.334a2.003 2.003 0 0 0 1.415-1.415C16 11.803 16 8.4 16 8.4s0-3.403-.334-4.651ZM6.4 10.479V6.321a.4.4 0 0 1 .6-.347l3.6 2.079a.4.4 0 0 1 0 .692L7 10.825a.4.4 0 0 1-.6-.347Z" fill="currentColor"/></svg></a>
			<a class="social-link" href=`${social.twitchURL}` title="Twitch"><svg width="64" height="64" viewBox="0 0 30 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m27.5 15.392-5 4.734h-5l-4.377 4.145v-4.145H7.5V2.368h20v13.024ZM6.25 0 0 5.919v21.31h7.5v5.919l6.248-5.92h5.002L30 16.575V0H6.25Zm17.5 6.699h-2.5V13.8h2.5V6.699Zm-9.373-.028h2.5v7.103h-2.5V6.67Z" fill="currentColor"/></svg></a>
			<a class="social-link" href=`${social.blueskyURL}` title="Bluesky"><svg width="36" height="32" viewBox="0 0 360 320" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M254.896 184.158C252.81 183.926 250.733 183.645 248.671 183.315C250.773 183.574 252.849 183.855 254.896 184.158Z" fill="white"/><path d="M180 141.964C163.699 110.262 119.308 51.1817 78.0347 22.044C38.4971 -5.86834 23.414 -1.03207 13.526 3.43594C2.08093 8.60755 0 26.1785 0 36.5164C0 46.8542 5.66748 121.272 9.36416 133.694C21.5786 174.738 65.0603 188.607 105.104 184.156C107.151 183.852 109.227 183.572 111.329 183.312C109.267 183.642 107.19 183.924 105.104 184.156C46.4204 192.847 -5.69621 214.233 62.6582 290.33C137.848 368.18 165.705 273.637 180 225.702C194.295 273.637 210.76 364.771 295.995 290.33C360 225.702 313.58 192.85 254.896 184.158C252.81 183.926 250.733 183.645 248.671 183.315C250.773 183.574 252.849 183.855 254.896 184.158C294.94 188.61 338.421 174.74 350.636 133.697C354.333 121.275 360 46.8568 360 36.519C360 26.1811 357.919 8.61012 346.474 3.43851C336.586 -1.02949 321.503 -5.86576 281.965 22.0466C240.692 51.1843 196.301 110.262 180 141.964Z" fill="currentColor"/></svg></a>
			<a class="social-link" href=`${social.discordURL}` title="Discord"><svg width="800px" height="800px" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg></a>
			<a class="social-link" href=`${social.githubURL}` title="GitHub"><svg width="98" height="96" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="currentColor" /></svg></a>
			<a class="social-link" href="/rss.xml" title="RSS Feed"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200q0-33 23.5-56.5T200-280q33 0 56.5 23.5T280-200q0 33-23.5 56.5T200-120Zm480 0q0-117-44-218.5T516-516q-76-76-177.5-120T120-680v-120q142 0 265 53t216 146q93 93 146 216t53 265H680Zm-240 0q0-67-25-124.5T346-346q-44-44-101.5-69T120-440v-120q92 0 171.5 34.5T431-431q60 60 94.5 139.5T560-120H440Z" fill="currentColor" /></svg></a>
		</div>

		<div class="spacer"></div>

		<!-- TODO: Turn footer sections into collections -->

		<section class="footer-section">
			<h6 class="section-title">Company</h6>
			<a class="section-item" href="/about"><span>About</span></a>
			<!--<span class="section-item" title="Coming soon!"><span>Team</span></span>-->
			<!--<span class="section-item" title="Coming soon!"><span>Careers</span></span>-->
			<a class="section-item" href="/contact"><span>Contact</span></a>
			<a class="section-item" href="/rss.xml"><span>RSS</span></a>
		</section>

		<section class="footer-section">
			<h6 class="section-title">Community</h6>
			<a class="section-item" href=`${social.blueskyURL}`><span>Bluesky</span></a>
			<a class="section-item" href=`${social.discordURL}`><span>Discord</span></a>
			<a class="section-item" href=`${social.githubURL}`><span>GitHub</span></a>
		</section>

		<section class="footer-section">
			<h6 class="section-title">Resources</h6>
			<a class="section-item" href="/blog"><span>Blog</span></a>
			<a class="section-item" href="/brand"><span>Brand</span></a>
			<!-- Potentially separate Press section eventually -->
		</section>

		<section class="footer-section">
			<h6 class="section-title">Legal</h6>
			<!--<span class="section-item" title="Coming soon!"><span>Creator Policy</span></span>-->
			<a class="section-item" href="/privacy-policy"><span>Privacy</span></a>
			<!--<span class="section-item" title="Coming soon!"><span>Terms of Use</span></span>-->
		</section>
	</div>

	<div class="subfooter">
		<div class="subfooter-container">
			<Separator/>
			<div class="subfooter-end-container">
				<a href="/" aria-label="Home" class="brand-link">
					<img src={svgLogo.src} alt=`${company.name} Logo` class="logo roundable" aria-hidden="true" onload="this.style.visibility='visible'"/>
				</a>

				<small class="copyright-statement">&copy; 2023 {company.legalName}</small>

				<ThemeToggle />
			</div>
		</div>
	</div>
</footer>

<style lang="scss">


footer {
	background-color: var(--color-background);
	color: var(--color-on-background);

	transition: all 0.5s;

	padding-top: 2rem;
	padding-bottom: 1.5rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.footer-container {
	width: 100%;
	max-width: var(--page-max-width);
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(var(--num-grid-columns), 1fr);
	gap: 0 20px;
	padding: 0 var(--page-gutter);

	.footer-section {
		grid-column: span 2;
		margin-bottom: 40px;

		.section-title {
			margin-bottom: 20px;
		}

		.section-item {
			font-size: 1rem;
			display: block;
			margin-top: 8px;
		}
	}

	.spacer {
		grid-column: span 1;
		grid-row-end: span 2;
		display: initial;
	}

	.social-icons {
		grid-column: span 3;
		grid-row-end: span 2;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		.social-link {
			margin: 0 10px 10px 0;
			display: flex;

			svg {
				color: var(--color-on-background) !important;

				//transition: all 0.5s;

				width: 32px;
				height: 32px;
			}

			svg:hover {
				color: var(--color-tertiary) !important;
			}
		}
	}

}

.subfooter {
	width: 100%;
	max-width: var(--page-max-width);
	max-width: var(--page-max-width);
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(var(--num-grid-columns), 1fr);
	gap: 0 20px;
	padding: 0 var(--page-gutter);

	.subfooter-container {
		grid-column: span var(--num-grid-columns);

		.subfooter-end-container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.brand-link {
				display: flex;
			}

			.logo {
				width: 48px;
				height: 48px;
			}

			img { // Workaround for image flashing alt text before loading on Firefox -- requires onload on img tag
				visibility: hidden;
			}

			.copyright-statement {
				font-size: 1rem;
			}
		}
	}
}

:root {
	--num-grid-columns: 4; // For footer area
}

@media screen and (min-width: 768px) {
	:root {
		--num-grid-columns: 8; // For footer area
	}
}

@media screen and (min-width: 1024px) {
	:root {
		--num-grid-columns: 12; // For footer area
	}
}
</style>