---
import BaseLayout from './BaseLayout.astro';

import LinkChip from '../components/LinkChip.astro';
import BlogBackButton from '../components/BlogBackButton.astro';

const { frontmatter } = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric"
};

const formattedDate = frontmatter.pubDate != undefined ? new Intl.DateTimeFormat("en-US", dateOptions).format(frontmatter.pubDate) : undefined;

import company from '../data/company.json';
---
<BaseLayout title=`${frontmatter.title} | ${company.name} Blog` description={frontmatter.summary}>
	<div class="wrapper">
		<article class="blog">
			<div class="blog-header">
				<BlogBackButton href="/blog" label="Back to articles", svgString=`<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 -960 960 960" width="16"><path d="m382-480 294 294q15 15 14.5 35T675-116q-15 15-35 15t-35-15L297-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T676-844q15 15 15 35t-15 35L382-480Z" fill="currentColor"/></svg>`/>
				<div class="blog-heading">
					<h1 class="blog-title">{frontmatter.title}</h1>
				</div>
				<div class="blog-info">
					<div class="blog-author-container">
						<div class="blog-author">
							<b>{frontmatter.author}</b>
						</div>
						{!frontmatter.authorTitle ? '' : 
						<div class="blog-author-title">
							<p>{frontmatter.authorTitle}</p>
						</div>
						}
					</div>
					<div class="blog-date">
						<time>{formattedDate}</time>
					</div>
				</div>
	
				<div class="blog-tags">
					<ul class="tags-list">
						<li>
							{frontmatter.tags.map((tag: string) => (
								<LinkChip href={`/tags/${tag}`} label={`#${tag}`}/>
							))}
						</li>
					</ul>
				</div>
			</div>

			<slot />
		</article>
	</div>
</BaseLayout>

<style lang="scss">

time { // TODO: Fix time so it's in EST
	display: block;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--color-on-surface);
}

.blog-header {
	padding: 1.77rem 0;
}

.blog-heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 1.33rem;
	h1 {
		line-height: 1.5;
	}

	.blog-title {
		margin: 0;
		padding: 0;
		font-size: 2.8rem;
		max-width: 20ch !important;
	}

}

.blog-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 1.33rem;

	.blog-author-container {
		display: flex;
		flex-direction: column;

		p {
			margin: 0;
			padding: 0;
		}

		.blog-author {
			font-size: 1.375rem;
			margin: 0;
			padding: 0;
		}

		.blog-author-title {
			color: var(--color-on-surface-variant);
			font-size: 1rem;
			font-weight: 700;
			margin: 0;
			padding: 0;
		}
	}

	.blog-date {
		padding-top: 1rem;
		font-weight: 600;
	}
}

.blog-tags {
	margin-top: 1.33rem;
}

.tags-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 80ch;
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

</style>

<script>
	const sheet = new CSSStyleSheet();
	sheet.replaceSync(`
.link-icon {
	text-decoration: none;
	display: inline-flex;
	vertical-align: middle;
	cursor: pointer;
	height: 100%;
	visibility: hidden;

	color: var(--color-primary);
	padding-left: 4px;

	&:hover {
		color: var(--color-tertiary);
	}
}

.link-clicked-icon {
	text-decoration: none;
	display: inline-flex;
	vertical-align: middle;
	height: 100%;

	color: #1a7f37;
	padding-left: 4px;
}

.blog h2:hover .link-icon, .blog h3:hover .link-icon, .blog h4:hover .link-icon, .blog h5:hover .link-icon, .blog h6:hover .link-icon {
	visibility: visible;
}
	`);
	document.adoptedStyleSheets.push(sheet);

	const linkSvg = `<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M280-280q-83 0-141.5-58.5T80-480q0-83 58.5-141.5T280-680h120q17 0 28.5 11.5T440-640q0 17-11.5 28.5T400-600H280q-50 0-85 35t-35 85q0 50 35 85t85 35h120q17 0 28.5 11.5T440-320q0 17-11.5 28.5T400-280H280Zm80-160q-17 0-28.5-11.5T320-480q0-17 11.5-28.5T360-520h240q17 0 28.5 11.5T640-480q0 17-11.5 28.5T600-440H360Zm200 160q-17 0-28.5-11.5T520-320q0-17 11.5-28.5T560-360h120q50 0 85-35t35-85q0-50-35-85t-85-35H560q-17 0-28.5-11.5T520-640q0-17 11.5-28.5T560-680h120q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H560Z"/></svg>`;

	const linkClickedSvg = `<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="m382-354 339-339q12-12 28-12t28 12q12 12 12 28.5T777-636L410-268q-12 12-28 12t-28-12L182-440q-12-12-11.5-28.5T183-497q12-12 28.5-12t28.5 12l142 143Z"/></svg>`;

	const blogArticle = document.querySelector(".blog");

	if(blogArticle) {
		const anchorHeadings = blogArticle.querySelectorAll("h2, h3, h4, h5, h6");

		[...anchorHeadings].forEach((heading) => {
			const anchor = document.createElement("a");
			anchor.href = `#${heading.id}`;

			const linkIconWrapper = document.createElement("span");
			linkIconWrapper.setAttribute("title", "Click to copy a link to this section.");
			linkIconWrapper.innerHTML = linkSvg;
			linkIconWrapper.classList.add("link-icon");

			heading.appendChild(linkIconWrapper);
			
			linkIconWrapper.addEventListener("click", () => {
				navigator.clipboard.writeText(anchor.href)
				.then(() => {
					linkIconWrapper.classList.remove("link-icon");
					linkIconWrapper.classList.add("link-clicked-icon");
					linkIconWrapper.innerHTML = linkClickedSvg;

					setTimeout(() => {
						linkIconWrapper.classList.remove("link-clicked-icon");
						linkIconWrapper.classList.add("link-icon");
						linkIconWrapper.innerHTML = linkSvg;
					}, 2000);
				})
				.catch((err) => {
					console.error("Failed to copy URL:", err)
				});
			});
		});
	}
</script>